<h1>Job #<%= @job.id %></h1>

<% if @job.status == 'success' %>
  <p>
    <a href='<%= job_path(@job, :format => :src) %>'>Download result file</a>
  </p>
<% end %>

<p>
  <b>Created:</b>
  <%=h @job.created_at %>
</p>

<p>
  <b>State:</b>
  <%=h @job.state %>
</p>

<p>
  <b>Input Type:</b>
  <%=h @job.input_type %>
</p>

<p>
  <b>Output Type:</b>
  <%=h @job.output_type %>
</p>

<div class="log_entries">
  <b>Log:</b>
  <% @job.log_entries.stdout.each do |log_entry| %>
    <div><%=h log_entry.text %></div>
  <% end %>
</div>

<br />

<div class="log_entries">
  <b>Error Log:</b>
  <% @job.log_entries.error.each do |log_entry| %>
    <div><%=h log_entry.text %></div>
  <% end %>
</div>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
